main {
  width: 100%;
  margin: 0;

  img {
    width: 100%;
  }
}

/* first container block  */

#first_container {
  width: 100%;
  position: relative;
  z-index: 2;

  h1 {
  }
  h2 {
  }
  p {
  }
  span {
  }
}

#background_photo {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.content_container {
  padding: 2rem 0 0 2rem;
}

.texticon_container1 {
  width: 20%;
  left: 80%;
  position: relative;
}

/* second container block */

#second_container {
  width: 100%;
  color: var(--color-main);
  display: flex;
  padding: 3rem;
  gap: 3rem;

  h3 {
    @media screen and (min-width: 320px) and (max-width: 425px) {
      font-size: small;
    }
  }
}

#photo2 {
  width: 100%;
}

.texticon_container2 {
  width: 20%;
  right: 80%;
  position: relative;
}

/* adjust svg */

.responsivesvg {
}

/* specific utility class */

.title {
  color: var(--color-soft);
  margin: 0;
}
