*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Chiralla;
  src: url("assets/fonts/Chiralla.ttf");
}

@font-face {
  font-family: NewYork;
  src: url("assets/fonts/NewYork.ttf");
}

.chiralla {
  font-family: "chiralla";
}

.newyork {
  font-family: "NewYork";
}

body {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

:root {
  --color-soft: #ded2b1;
  --color-main: #a55b44;
}

/* fix font size  */

.font50 {
  font-size: 3rem;
}
.font100 {
  font-size: 6rem;
}
.font200 {
  font-size: 12rem;
}
.font300 {
  font-size: 18rem;
}
