*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --color-soft: #ded2b1;
  --color-main: #a55b44;
}

/* fonts attributions */

@font-face {
  font-family: Chiralla;
  src: url("assets/fonts/Chiralla.ttf");
}

@font-face {
  font-family: NewYork;
  src: url("assets/fonts/NewYork.ttf");
}

@font-face {
  font-family: Felgine;
  src: url("assets/fonts/Felgine.ttf");
}

.chiralla {
  font-family: "chiralla";
}

.newyork {
  font-family: "NewYork";
}

.felgine {
  font-family: "Felgine";
}

/* fix font size  */
.font16 {
  font-size: 1rem;
}
.font32 {
  font-size: 2rem;
}
.font50 {
  font-size: 3rem;
}
.font100 {
  font-size: 6rem;
}
.font200 {
  font-size: 12rem;
}
.font300 {
  font-size: 18rem;
}
