*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --color-soft: #ded2b1;
  --color-main: #a55b44;
}

/* fonts attributions */

@font-face {
  font-family: Chiralla;
  src: local("Chiralla") url("assets/fonts/Chiralla.ttf");
}

@font-face {
  font-family: NewYork;
  src: local("NewYork") url("assets/fonts/NewYork.ttf");
}

@font-face {
  font-family: Felgine;
  src: local("Felgine") url("assets/fonts/Felgine.ttf");
}

@font-face {
  font-family: Orsay;
  src: local("Orsay") url("assets/fonts/Orsay.otf");
}

.orsay {
  font-family: "Orsay";
}

.chiralla {
  font-family: "Chiralla";
}

.newyork {
  font-family: "NewYork";
}

.felgine {
  font-family: "Felgine";
}

/* specific utility class */

.title {
  color: var(--color-soft);
  margin: 0;
}

.flexspace {
  display: flex;
  justify-content: space-between;
}
